@import "~@/styles/vars.less";

#spin {
  height: 100%;
  
  > .ant-spin-container {
    height: 100%;
  }
}

#app {
  .app-content-wrapper {
    height: 100%;
    padding: 0 @padding-sm @padding-sm;
    overflow: auto;
    background: #F0F2F5;

    .app-breadcrumb {
      line-height: @breadcrumb-height;
    }

    .app-page {
      height: calc(~"100% - @{breadcrumb-height}");
      padding: 10px;
      background: #FFF;
    }
  }
}
